@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Esqueceu sua senha?";
}

<section class="mt-55 mb-55">
    <div class="container">
        <div class="row">
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h3 class="mb-4">Redefinir senha</h3>
                            <p class="mb-4">
                                Digite seu e-mail abaixo. Enviaremos a você um link para uma página
                                onde você pode facilmente criar uma nova senha.
                            </p>
                        </div>
                        <form action="#" method="post">
                            <div class="form-group mb-4">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" id="redefinir" />
                                <span id="msgemail" asp-validation-for="Input.Email" class="text-danger"></span>    
                            </div>
                            <div class="d-flex mb-4 align-items-center">
                                <span class="ml-auto">
                                    <a id="voltarLogin" class="forgot-pass link-thema" asp-page="./Login">Voltar para Login</a>
                                </span>
                            </div>
                            <div class="text-center">
                                <button type="button" value="Redefinir senha" onclick="alertRecuperarSenha()" class="btn btn-lg theme-btn"> Redefinir Senha </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-login" src="@Url.Content("~/img/shapes/forgot-password.svg")" />
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
